[user]
	name = Christopher Gwizdala
	email = 597282+christowiz@users.noreply.github.com
  logallrefupdates = true

[credential]
  helper = osxkeychain

[core]
  autocrlf = false
  editor = code -n -w
  excludesfile = /Users/gwizdalC0502/.gitignore_global
  fileMode = false
  ignorecase = false
  logallrefupdates = true
  pager = diff-so-fancy | less --tabs=4 -RF
  warnambiguousrefs = false

[merge]
  c = ~/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  defaultToUpstream = true
  log = true
  tool = opendiff
  trustExitCode = true

[remote "origin"]
  push = HEAD

[apply]
  whitespace = fix

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  frag = magenta bold
  meta = yellow bold
  new = green bold
  old = red bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[clean]
  requireForce = false

[http]
  sslVerify = false

[push]
  default = simple

[url "https://"]
  insteadOf = git://

[alias]
  c = commit
  cm = commit -m
  co = checkout
  cot = checkout -t origin/
  cobr = checkout -b
  # coless = !"f() { echo 'Checking out: '$1; git co $1; echo 'Building LESS files'; grunt lessDev; }; f"
  st = status
  br = branch
  bra = branch -a
  brd = branch -d
  brD = branch -D
  brsort = branch --sort=-committerdate
  case = mv --force
  sw = switch
  swbr = switch -c
  lg = "log --pretty=format:'%h - %an, %ar : %s' --stat"
  lgg = "log --graph --decorate --oneline"
  lgp = "log --pretty=oneline --abbrev-commit"
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push origin `git bn`"
  bn = !git for-each-ref --format='%(refname:short)' `git symbolic-ref HEAD`
  brprune = !"echo 'Pruning branch list'; git remote update origin --prune; echo '\nBranch list updated:'; git br -a"
  stash-unapply = !git stash show -p | git apply -R
  find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
  gpull = pull --rebase origin master
  # Show unpushed files
  notpushed = log --branches --not --remotes
  mt = mergetool
  undo = reset HEAD~1 --mixed
  resethard = "!f() { git reset --hard; git clean -df ; }; f"
  ltag = tag --list

  contributors = git shortlog --all --summary | sort -hr
  gui = !sh -c '/usr/local/bin/git/libexec/git-core/git-gui'

  fetchall = fetch --all --prune --tags
  fp = !git fetch && git pull
  fpull = !git fetch && git pull
  untrack = branch --unset-upstream
  rename = branch -m

  # https://laravel-news.com/the-ultimate-git-nah-alias
  nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
  aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias.// -e s/\\ /\\ $(printf \"\\043\")--\\>\\ / | column -t -s $(printf \"\\043\") | sort -k 1

  push = push --force-with-lease
  
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[rerere]
  enabled = true
  autoupdate = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool]
  keepBackup = false
[mergetool "sourcetree"]
	cmd = ~/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
  rebase = true
[column]
  ui = auto
[branch]
	# sort = -committerdate
[interactive]
  diffFilter = diff-so-fancy --patch
[commit]
  template = 
