init-author-name=Christopher Gwizdala
init-author-email=597282+christowiz@users.noreply.github.com
init-author-url=https://github.com/christowiz
prefix=~/.npm-packages
progress=true
save=true
package-lock=false
ignore-scripts=true
save-exact=true

//npm.pkg.github.com/:\_authToken=$TRAMPT_GITHUB_API_TOKEN
