//npm.pkg.github.com/:\_authToken="${TOKEN}"

init-author-name=Christopher Gwizdala
init-author-email=597282+christowiz@users.noreply.github.com
init-author-url=https://github.com/christowiz
always-auth=true
ca=null
ignore-scripts=false
lockfile=true
progress=true
save=true
package-lock=false
save=true
save-exact=true
