init.author.name=Christopher Gwizdala
init.author.email=christopher.gwizdala@gmail.com
init.author.url=https://github.com/christowiz
prefix=/Users/cgwizdala/.npm-packages
progress=true
save=true
package-lock=false
