##ALIASES

#Folder aliases
alias tmp="cd ~/tmp"

#Project aliases
alias projects="cd ~/Projects/"
alias trampt="cd ~/Projects/Trampt/source/trampt-client-web"
alias osxinstall="cd ~/Projects/osx-install"

alias swf="serve -n -s build/client"

alias bundle="cd ~/Projects/chrome-extensions/npm-bundlephobia/"

#Applications
# alias subl="/Applications/Editors/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias ss="simple-server ."
##SourceTree alias so it can find the `node` executable
alias sourcetree="source ~/.bash_profile && open /Applications/Development\ Apps/SourceTree.app"
##Changes app reset
alias changes="killall Changes ; sleep 0.5 ; rm -r ~/Library/Application\ Support/Changes ; rm ~/Library/Preferences/com.bitbq.Changes.plist ; open /Applications/Development\ Apps/Changes.app"
##Launch Chromium
alias chrome="/Applications/Browsers/Chromium.app/Contents/MacOS/Chromium"
# alias chromessl="open -a /Applications/Browsers/Google\ Chrome\ SSL.app --args --user-data-dir=/tmp/foo --allow-insecure-localhost"
alias chromessl="/Applications/Browsers/Chromium\ SSL.app/Contents/MacOS/Chromium --args --user-data-dir=/tmp/foo --allow-insecure-localhost"

alias brave="~/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser"

alias braveunsafe="~/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --allow-running-insecure-content"

##TOMCAT SERVER
alias tomcat="cd /usr/local/tomcat/8.5.15"
alias tcstart="${CATALINA_HOME}/bin/catalina.sh start"
alias tcstop="${CATALINA_HOME}/bin/catalina.sh stop"
alias tcrestart="tcstop && echo 'Sleeping for 2 seconds' ; sleep 2 && tcstart"

# Set editor
alias edit="code"

# RPi
alias pihole="ssh pi@192.168.1.42"

#aliases
alias ls="ls -F"
alias l="ls -alh"
alias ll="ls -al"
alias la="ls -a"

#Utilities
alias bashrc="edit ~/.bashrc"
alias zshrc="edit ~/.zshrc"
alias aliases="edit ~/.shell/.aliases"
alias funcs="edit ~/.shell/.functions"
alias srcbash="source ~/.bash_profile"
alias srczsh="source ~/.zprofile"
alias hosts="edit /etc/hosts"
alias gitconfig="edit ~/.gitconfig"
alias npmconfig="edit ~/.npmrc"
alias volumes="cd /Volumes"

alias count="ls -1 | wc -l"
alias who="whoami"
alias dusk="du -sk"
alias ps="ps -x"
alias ql="qlmanage -p '$@' >& /dev/null"
alias show="sudo SetFile -a v"
alias hide="sudo SetFile -a V"
alias cpu="top -o cpu"
alias act="sudo /Applications/Utilities/Activity\ Monitor.app/Contents/MacOS/Activity\ Monitor"
alias lsdir="ls -l | egrep '^d'"
alias lsfile="ls -l | egrep -v '^d'"
alias watchdir="watch -n 0.25 -d ls -al ."
alias showFiles="defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app"
alias copy="tr -d '\n' | pbcopy"

alias disabless="sudo defaults write /Library/Preferences/com.apple.screensaver loginWindowIdleTime 0"

##Git
alias gcm="git commit -m"
alias gcb="git checkout -b"
alias gh="git-open"
alias gp="git pull"
alias gpush="git push"
alias ga="git add ."
alias gca="git commit -a"
alias gamend="git commit --amend"
alias brcopy="git branch --show-current | pbcopy"
alias gst="git status"
alias gpop="git stash pop"
alias gl="git log --pretty=oneline --abbrev-commit"
alias master="git checkout master"
alias develop="git checkout develop"
alias trunk="git sw trunk"
alias forgetre="git rerere forget"
alias gredelete="rm -rf .git/rr-cache"
alias gw="git worktree"
alias gwa="git worktree add"
alias gwl="git worktree list"
alias gwp="git worktree prune"
alias gwr="git worktree remove"
alias gworkprune="gwp & trash"
alias syncdevelop="git stash save -u 'temp' ; git merge develop ; git stash pop"
alias synctrunk="git stash save -u 'temp' ; git rebase trunk ; git stash pop"
alias last="git co -"
alias gitorphaned="LANG=en git branch --format='%(if:equals=gone)%(upstream:track,nobracket)%(then)%(refname:short)%(end)' | grep '.'"
# alias gss="git stash && git checkout '$@' ; git stash pop"
alias stash="git stash"
alias stashs="git stash save -u"
alias gpop="git stash pop"
alias gcprun="git gc --prune=now"
alias hash="git rev-parse HEAD"
alias shorthash="git rev-parse --short HEAD"
alias cpbr="git branch | grep '^\*' | cut -d' ' -f2 | pbcopy"

##Start Apache server
alias astart="sudo apachectl start"
alias astop="sudo apachectl stop"

alias cat="ccat --bg=dark"
alias python="python3"

alias nodei="node --inspect"
alias nodeibr="node --debug-brk --inspect"
alias ni="n $(cat .nvmrc)"
alias nu="n use $(cat .nvmrc)"

## NPM/Yarn
alias yarnglobal="cd ~/.config/yarn/global/"
alias npmlist="npm list --depth=0"
alias npmlistg="npm -g list --depth=0"
alias npmreset="trash node_modules/ package-lock.json && npm install"
alias yarnreset="trash node_modules/ yarn.lock && yarn"
alias nrun="npm run"
alias run="yarn"
alias lsc="list-scripts"

# Recursively remove all `node_modules` directories
alias rmnodemodules="find . -name 'node_modules' -exec rm -rf '{}' +"

alias brewup="brew update ;\
            brew upgrade ;\
            brew cleanup ;\
            brew doctor ;\
            brew outdated"

alias installglobalnpm="$HOME/.shell/./npm-global-install.sh"
alias shell='echo ${SHELL}'

## thefuck alias
eval $(thefuck --alias fuck)

## NOCORRECT
## Tell zsh not to correct names when running commands
alias next="nocorrect next"
