##ALIASES

# Set editor
alias edit="code"
alias c="edit ."

#Folder aliases
alias tmp="cd ~/tmp"

#Project aliases
alias projects="cd ~/Projects/"
alias osxinstall="cd ~/Projects/osx-install"

#Work aliases
alias pluto="cd ~/Projects/PlutoTV/source"
# alias trunk="cd ~/Projects/PlutoTV/source/trunk"
alias xp="cd ~/Projects/PlutoTV/source/apps-xp"
alias tools="cd ~/Projects/PlutoTV/source/webctv-tools"
alias vulcan="cd ~/Projects/PlutoTV/source/webctv-vulcan"

#AWS aliases
alias amp="amplify"

alias token="curl -s -XGET 'https://boot.pluto.tv/v4/start?appName=comcastx1&appVersion=6.9.0-alpha-c76db74dd3&buildVersion=6.9.0-alpha-c76db74dd3&clientID=d915b260-2f8f-11ed-909b-abcbba0eec14&clientDeviceType=6&clientModelNumber=Chrome&deviceMake=comcast&deviceModel=Chrome&deviceType=comcastx1&deviceVersion=2.5' | jq -r '.sessionToken' | pbcopy"
alias tokenpp="curl -s -XGET 'https://service-bootstrap.plutopreprod.tv/v4/start?appName=comcastx1&appVersion=6.9.0-alpha-c76db74dd3&buildVersion=6.9.0-alpha-c76db74dd3&clientID=d915b260-2f8f-11ed-909b-abcbba0eec14&clientDeviceType=6&clientModelNumber=Chrome&deviceMake=comcast&deviceModel=Chrome&deviceType=comcastx1&deviceVersion=2.5' | jq -r '.sessionToken' | pbcopy"

#Applications
# alias subl="/Applications/Editors/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
##SourceTree alias so it can find the `node` executable
# alias sourcetree="source ~/.zprofile && open ~/Applications/SourceTree.app"
##Changes app reset
# alias changes="killall Changes ; sleep 0.5 ; rm -r ~/Library/Application\ Support/Changes ; rm ~/Library/Preferences/com.bitbq.Changes.plist ; open /Applications/Development\ Apps/Changes.app"
##Launch Chrome
alias chrome="~/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
##Launch Chromium
alias chromium="~/Applications/Chromium.app/Contents/MacOS/Chromium"
alias chromiumem="~/Applications/Chromium.app/Contents/MacOS/Chromium --enable-precise-memory-info"
# alias chromessl="open -a /Applications/Browsers/Google\ Chrome\ SSL.app --args --user-data-dir=/tmp/foo --allow-insecure-localhost"
alias chromessl="/Applications/Chromium\ SSL.app/Contents/MacOS/Chromium --args --user-data-dir=/tmp/foo --allow-insecure-localhost"

alias brave="~/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser"
alias braveunsafe="~/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --allow-running-insecure-content"

# RPi
alias pihole="ssh pi@192.168.1.42"

#aliases
alias ls="ls -F"
alias l="ls -alh"
alias ll="ls -al"
alias la="ls -a"

#Utilities
alias bashrc="edit ~/.bashrc"
alias zshrc="edit ~/.zshrc"
alias zprofile="edit ~/.zprofile"
alias aliases="edit ~/.shell/.aliases"
alias lsaliases="edit ~/.shell/.aliases"
alias funcs="edit ~/.shell/.functions"
alias srcbash="source ~/.bash_profile"
alias srczsh="source ~/.zshrc"
alias srczp="source ~/.zprofile"
alias srcall="srczsh && srczp"
alias hosts="edit /etc/hosts"
alias gitconfigg="edit ~/.gitconfig"
alias npmconfigg="edit ~/.npmrc"
alias volumes="cd /Volumes"

alias count="ls -1 | wc -l"
alias who="whoami"
alias dusk="du -sk"
alias ps="ps -x"
alias ql="qlmanage -p '$@' >& /dev/null"
alias show="chflags nohidden"
alias hide="chflags hidden"
alias cpu="top -o cpu"
alias act="sudo /Applications/Utilities/Activity\ Monitor.app/Contents/MacOS/Activity\ Monitor"
alias lsdir="ls -l | egrep '^d'"
alias lsfile="ls -l | egrep -v '^d'"
alias watchdir="watch -n 0.25 -d ls -al ."
alias showFiles="defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app"

alias disabless="sudo defaults write /Library/Preferences/com.apple.screensaver loginWindowIdleTime 0"

##Git
alias gcm="git commit -m"
alias gcb="git checkout -b"
alias gopen="git-open"
alias ghome="git-open"
alias gp="git pull"
alias gpush="git push"
alias ga="git add ."
alias gca="git commit -a"
alias gamend="git commit --amend"
alias brcopy="git branch --show-current | pbcopy"
alias gst="git status"
alias gpop="git stash pop"
alias gl="git log --pretty=oneline --abbrev-commit"
alias master="git checkout master"
alias develop="git checkout develop"
alias trunk="git sw trunk"
alias dev="git sw dev"
alias main="git sw main"
alias forgetre="git rerere forget"
alias gredelete="rm -rf .git/rr-cache"
alias gw="git worktree"
alias gwa="git worktree add"
alias gwl="git worktree list"
alias gwp="git worktree prune"
alias gwr="git worktree remove"
alias gworkprune="gwp & trash"
alias syncdevelop="stashtemp && git merge develop && gpop"
alias synctrunk="stashtemp && git rebase trunk && gpop"
alias last="git co -"
alias gitorphaned="LANG=en git branch --format='%(if:equals=gone)%(upstream:track,nobracket)%(then)%(refname:short)%(end)' | grep '.'"
# alias gss="git stash && git checkout '$@' ; gpop"
alias stash="git stash"
alias stashs="git stash save -u"
alias stashstaged="git commit -m wip -n && git stash -u && git undo --soft"
alias stashtemp="git stash save -u 'temp'"
alias gpop="git stash pop"
alias gitprune="git gc --prune=now"
alias hash="git rev-parse HEAD"
alias shorthash="git rev-parse --short HEAD"
alias cpbr="git branch | grep '^\*' | cut -d' ' -f2 | pbcopy"
alias gitconfig="edit .git/config"
alias openpr="gh pr view --web"
alias openjira="jira"
alias gitroot='cd $(git root)'
alias delbr='git sw trunk && git branch -d $(git name-rev @{-1} --name-only)'

##Start Apache server
alias astart="sudo apachectl start"
alias astop="sudo apachectl stop"

# alias cat="ccat --bg=dark"
alias cat="bat"
alias python="python3"
alias bore="pkgx bore"
## Uncomment if using NVM
# alias ni="n $(cat .nvmrc)"
# alias nu="n use $(cat .nvmrc)"

## NPM/Yarn/PNPM
alias lsc="list-scripts"
alias npmig="sh ~/.shell/npm-global-install.sh"
alias npmglobalinstall="sh ~/.shell/npm-global-install.sh"
alias npmlist="npm list --depth=0"
alias npmlistg="npm -g list --depth=0"
alias npmreset="rmnodemodules package-lock.json && npm install"
alias pnpmlistg="pnpm -g list"
alias npmreset="rmnodemodules pnpm-lock.yaml && pnpm install"
alias nrun="npm run"
alias nx="NX_DAEMON=false pnpm nx"
alias nxr="nx reset"
alias nxrall="nx run-many --targets=build,lint,typecheck,test --skipNxCache"
alias pnpmi="pnpm install"
alias pnpx="pnpm exec"
alias pnpex="pnpm exec"
alias pnpdx="pnpm dlx"
alias upgradepnpm="curl -fsSL https://get.pnpm.io/install.sh | sh -"

##########
# NODE
##########
alias nodei="node --inspect"
alias nodeibr="node --debug-brk --inspect"
alias countnode="ps | grep -v 'grep' | grep -c node"
# Recursively remove all `node_modules` directories
alias rmnodemodules="find . -name 'node_modules' -type d -prune -print -exec trash '{}' +"

alias brewup="brew update ;\
            brew upgrade ;\
            brew cleanup ;\
            brew doctor ;\
            brew outdated"

alias shell="echo \${SHELL}"

# alias docker="podman"
# alias rm="trash"

## JAVA
# alias java8='export JAVA_HOME=$JAVA_8_HOME'
# alias java11='export JAVA_HOME=$JAVA_11_HOME'

## NOCORRECT
## Tell zsh not to correct names when running commands
alias bat="nocorrect bat"
alias env="nocorrect env"
alias next="nocorrect next"
alias storybook="nocorrect storybook"
alias stree="nocorrect stree"
