##ALIASES

#Folder aliases
alias tmp="cd ~/tmp"

#Project aliases
alias projects="cd ~/Projects/"
alias trampt="cd ~/Documents/Personal/trampt_v2"
alias osxinstall="cd ~/Projects/osx-install"

#PlutoTV aliases
alias pluto="cd ~/Documents/PlutoTV/repos"
alias core="cd ~/Documents/PlutoTV/repos/app-webtech-core"
alias watchfree="cd ~/Documents/PlutoTV/repos/app-webtech-vizio-watchfree"
alias vizcore="cd ~/Documents/PlutoTV/repos/app-webtech-core-vizio"
alias webtvrepo="cd ~/Documents/PlutoTV/repos/webtv"
alias chromecast="cd ~/Documents/PlutoTV/repos/chromecast"

alias swf="serve -n -s build/client"
# alias wf="BUILD_ENV=development NODE_ENV=development npx webpack --config ./config/webpack/static.babel.js --progress --watch"
alias wfdev="npm run build:development:static -- --progress --watch"
alias wfprod="npm run build:production:static -- --progress --watch"
alias wfdvox="DISABLE_VOX=true wfdev"
alias wfpvox="DISABLE_VOX=true wfprod"
alias wfdlog="LOG_TIME=true wfdev"
alias wfplog="LOG_TIME=true wfprod"
alias wfdlogvox="LOG_TIME=true DISABLE_VOX=true wfdev"
alias wfplogvox="LOG_TIME=true DISABLE_VOX=true wfprod"
alias x1log="LOG=true run start"
alias awsbuwf="aws s3 sync s3://vizio-prod-pluto-tv ."
alias tivo="telnet 192.168.1.30"
alias v2="run start -t livetv2"


#Applications
# alias subl="/Applications/Editors/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias ss="simple-server ."
##SourceTree alias so it can find the `node` executable
alias sourcetree="source ~/.bash_profile && open /Applications/Development\ Apps/SourceTree.app"
##Changes app reset
alias changes="killall Changes ; sleep 0.5 ; rm -r ~/Library/Application\ Support/Changes ; rm ~/Library/Preferences/com.bitbq.Changes.plist ; open /Applications/Development\ Apps/Changes.app"
##Launch Chrome
alias chrome="~/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --autoplay-policy=no-user-gesture-required"
##Launch Canary
alias canary="/Applications/Browsers/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary"
# alias chromessl="open -a /Applications/Browsers/Google\ Chrome\ SSL.app --args --user-data-dir=/tmp/foo --allow-insecure-localhost"
alias chromessl="/Applications/Browsers/Google\ Chrome\ SSL.app/Contents/MacOS/Google\ Chrome --args --user-data-dir=/tmp/foo --allow-insecure-localhost"

alias braveunsafe="~/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --allow-running-insecure-content"

##TOMCAT SERVER
alias tomcat="cd /usr/local/tomcat/8.5.15"
alias tcstart="${CATALINA_HOME}/bin/catalina.sh start"
alias tcstop="${CATALINA_HOME}/bin/catalina.sh stop"
alias tcrestart="tcstop && echo 'Sleeping for 2 seconds' ; sleep 2 && tcstart"


# RPi
alias pihole="ssh pi@192.168.1.42"


#aliases
alias ls="ls -F"
alias l="ls -alh"
alias ll="ls -al"
alias la="ls -a"

#Utilities
alias bashrc="code ~/.bashrc"
alias zshrc="code ~/.zshrc"
alias aliases="code ~/.shell/.aliases"
alias funcs="code ~/.shell/.functions"
alias srcbash="source ~/.bash_profile"
alias srczsh="source ~/.zprofile"
alias hosts="code /etc/hosts"
alias npmconfig="code ~/.npmrc"
alias count="ls -1 | wc -l"
alias who="whoami"
alias dusk="du -sk"
alias volumes="cd /Volumes"
alias ps="ps -x"
alias ql="qlmanage -p '$@' >& /dev/null"
alias show="sudo SetFile -a v"
alias hide="sudo SetFile -a V"
alias cpu="top -o cpu"
alias act="sudo /Applications/Utilities/Activity\ Monitor.app/Contents/MacOS/Activity\ Monitor"
alias lsdir="ls -l | egrep '^d'"
alias lsfile="ls -l | egrep -v '^d'"
alias watchdir="watch -n 0.25 -d ls -al ."
alias showFiles="defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app"
alias copy="tr -d '\n' | pbcopy"
alias disabless="sudo defaults write /Library/Preferences/com.apple.screensaver loginWindowIdleTime 0"

##Git
alias gcm="git checkout -m"
alias gcb="git checkout -b"
alias gh="git-open"
alias ga="git add ."
alias gca="git commit -a"
alias gamend="git commit --amend"
alias gst="git status"
alias gp="git pull"
alias gpush="git push"
alias gl="git log --pretty=oneline --abbrev-commit"
alias master="git checkout master"
alias develop="git checkout develop"
alias trunk="git sw trunk"
alias gref="git rerere forget"
alias gredelete="rm -rf .git/rr-cache"
alias gwa="git worktree add"
alias gwl="git worktree list"
alias gwp="git worktree prune"
alias gwr="git worktree remove"
alias gworkprune="gwp & trash"
alias syncdevelop="git stash save -u 'temp' ; git merge develop ; git stash pop"
alias synctrunk="git stash save -u 'temp' ; git rebase trunk ; git stash pop"
alias last="git co -"
alias gitconfig="code ~/.gitconfig"
alias gitorphaned="LANG=en git branch --format='%(if:equals=gone)%(upstream:track,nobracket)%(then)%(refname:short)%(end)' | grep '.'"
# alias gss="git stash && git checkout '$@' ; git stash pop"
alias stash="git stash"
alias stashs="git stash save -u"
alias gpop="git stash pop"
alias gcprun="git gc --prune=now"
alias hash="git rev-parse HEAD"
alias shorthash="git rev-parse --short HEAD"

##Start Apache server
alias astart="sudo apachectl start"
alias astop="sudo apachectl stop"


alias cat="ccat --bg=dark"
alias python="python3"

alias nodei="node --inspect"
alias nodeibr="node --debug-brk --inspect"

## NPM/Yarn
alias yarnglobal="cd ~/.config/yarn/global/"
alias npmlist="npm list --depth=0"
alias npmlistg="npm -g list --depth=0"
alias npmreset="trash node_modules/ package-lock.json && npm install"
alias yarnreset="trash node_modules/ yarn.lock && yarn"
alias nrun="npm run"
alias run="yarn"
alias lsc="list-scripts"

# Recursively remove all `node_modules` directories
alias rmnodemodules="find . -name 'node_modules' -exec rm -rf '{}' +"

alias brewup="brew update ;\
            brew upgrade ;\
            brew cleanup ;\
            brew doctor ;\
            echo \"Checking for outdated Cask installations\" ;\
            brew cask outdated"
alias installglobalnpm="$HOME/.shell/./npm-global-install.sh"
alias shell='echo ${SHELL}'

## thefuck alias
eval $(thefuck --alias fuck)
